{{ define "main" }}

<section class="hero-area bg-primary overflow-hidden">
	<div class="container">
      <div class="row">
        <div class="col-lg-11 mx-auto">
          <h1 class="text-white font-tertiary">404 Page Not Found</h1>
        </div>
      </div>
    </div>
    <div class="layer-bg w-100">
      <img class="img-fluid w-100" src="{{`uploads/illustrations/leaf-bg.png` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l2">
      <img src="{{`uploads/illustrations/dots-cyan.svg` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l3">
      <img src="{{`uploads/illustrations/leaf-orange.svg` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l4">
      <img src="{{`uploads/illustrations/dots-orange.svg` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l5">
      <img src="{{`uploads/illustrations/leaf-yellow.svg` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l6">
      <img src="{{`uploads/illustrations/leaf-cyan.svg` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l7">
      <img src="{{`uploads/illustrations/dots-group-orange.svg` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l8">
      <img src="{{`uploads/illustrations/leaf-pink-round.svg` | relURL}}" alt="bg-shape">
    </div>
    <div class="layer" id="l9">
      <img src="{{`uploads/illustrations/leaf-cyan-2.svg` | relURL}}" alt="bg-shape">
    </div>
</section> 

{{ end }}